work/src/
work/models/
work/clips/
work/cut.mp4
work/cut_1x.mp4
work/composited.mp4
work/composited_audio.mp4
work/final.mp4
work/final_compressed*.mp4
work/EGE_video_final.mp4
work/*.jpg
work/audio/*.wav
work/__pycache__/
work/concat_list.txt

work2/src/
work2/fonts/
work2/clips/
work2/cut.mp4
work2/cut_1x.mp4
work2/composited.mp4
work2/composited_audio.mp4
work2/final.mp4
work2/*.jpg
work2/audio/*.wav
work2/__pycache__/
work2/concat_list.txt


work3/src/
work3/fonts/
work3/clips/
work3/cut.mp4
work3/cut_1x.mp4
work3/composited.mp4
work3/composited_audio.mp4
work3/*.jpg
work3/audio/*.wav
work3/__pycache__/
work3/concat_list.txt
work3/final.mp4
